.cats {
  display: flex;
  flex-flow: row wrap; /* Позволяет переносить элементы на новую строку */
  gap: 48px; /* Отступы между элементами */
  justify-content: space-between;
}

.cats > * {
  flex: 1 1 calc((100% - 4 * 48px) / 5); /* Рассчитываем ширину для 5 элементов с учётом отступов */
  max-width: calc((100% - 4 * 48px) / 5); /* Гарантируем, что ширина элемента не превысит допустимую */
}
