.heart {
  position: absolute;
  bottom: 10px;
  right: calc(0.2rem + 1vw);
  font-size: 35px;
  color: rgb(182, 173, 173);
  margin-top: 7px;
  width: 70px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease, outline 0.3s ease;

  &:hover {
    color: rgb(192, 39, 39);
  }

  &.active {
    color: rgb(255, 0, 0);
  }
}
