.heart {
  position: absolute;
  bottom: 15px;
  right: 5px;
  font-size: 35px;
  color: rgb(182, 173, 173);
  margin-top: 7px;
  width: 70px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease, outline 0.3s ease;

  &:hover {
    color: rgb(192, 39, 39);
  }

  &.active {
    color: rgb(255, 0, 0);
  }

  @media (max-width: 768px) {
    font-size: 40px;
    width: 80px;
    bottom: 10px;
    right: 10px;
  }

  @media (max-width: 480px) {
    font-size: 45px;
    width: 90px;
    bottom: 8px;
    right: 8px;
  }
}
