:root {
	--container-padding: 0 62px;
}

.wrapper {
	width: 100%;
}

.container {
  width: 1200px;
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

.header {
	background-color: var(--primary-color);
	width: 100%;
}

.nav {
	padding: 23px 0;
}

.link {
	color: white;
	padding: var(--link-padding);
	text-decoration: none;
}

.activeLink {
	background-color: var(--active-color);
}

@media (max-width: 768px) {
	.container {
		padding: 0 20px;
	}

	.link {
		padding: 15px;
	}
}
