.catImage {
  position: relative;
  display: flex;
}

.catImg {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0;
}

.catImg:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
